body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  /* justify-content: center;
  align-items: center;
  display: flex; */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.dropdown {
  margin-bottom: 25px;
  height: 30px;
}

.button {
  margin-top: 25px;
  height:25px;
  width:105px;
}

/* .container {
  padding: 25px;
} */

.App {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.addMeeting {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top:50px;
  flex-direction: column;

} 

.card .clicked {
  background-color: aqua;
}